img {
    width: 100%;
    
}
 
.height {
    height: 10px;
}
 
/* Image-container design */
.image-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}
 
.next {
    right: 0;
}
 
/* Next and previous icon design */
.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    margin-top: -25px;
}
 
/* caption decorate */
.captionText {
    color: #000000;
    font-size: 14px;
    position: absolute;
    padding: 12px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
 
.fa {
    font-size: 32px;
    color: gray;
}
 
.fa:hover {
    transform: rotate(360deg);
    transition: 1s;
    color: black;
}
 
.footerdot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
 
.active,
.footerdot:hover {
    background-color: black;
}