body {
    color: white;
    background-color: rgb(43, 41, 41);
}

#tech-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tech-photo {
    height: 250px;
    width: 250px;
}

.javascript-photo {
    height: 350px;
    width: 350px;    
}

.react-photo {
    height: 250px;
    width: 300px;    
}

#summary-text {
    font-size: large;
    width: 70%;
}

.features {
    font-size: large;
    width: 50%;
}

#project-overview {
    display: flex;
    justify-content: space-between;
}

#image-slider {
    width: 300%;
    padding: 5px;
}

.underline {
    text-decoration: underline;
}

.hide {
    display: none;
}
      
#tech-photos:hover + .hide {
display: block;
color: red;
}